.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  @media (max-width: 767px) {
    gap: 20px;
  }
  div {
    position: relative;

    input {

    }

    textarea {
      resize: none;
      height: 112px;
    }

    input, textarea {
      display: block;
      width: 100%;
      padding: 8px 16px;
      font-size: 16px;
      line-height: 1.5;
      border: 1px solid #42424280;
      border-radius: 0;
      &.isInvalid {
        border-color: #EC000080;
        color: #F35C5C;
        &::placeholder {
          color: #F35C5C;
        }
      }
    }

    p {
      position: absolute;
      left: 0;
      bottom: -20px;
      font-size: 12px;
      line-height: 1.5;
      color: #F35C5C;
    }

    span {
      display: block;
      margin-bottom: 24px;
      font-size: 12px;
      line-height: 1.5;
      color: #424242;
      opacity: .5;
      text-transform: lowercase;
    }

    button {
      display: inline-block;
      position: relative;
      font-size: 16px;
      line-height: 24px;
      font-weight: 600;
      color: #424242;
      text-transform: lowercase;
      transition: all 0.25s;
      overflow: hidden;

      &.dot {
        padding-left: 24px;
        padding-right: 0;

        &:before {
          content: '';
          display: block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: #424242;
          position: absolute;
          left: 0;
          top: 9px;
          transition: all 0.25s;
        }

        @media (hover: hover) {
          &:hover {
            padding-left: 0;
            padding-right: 24px;

            &:before {
              left: -24px;
            }

            &:active {
              padding-left: 12px;
              padding-right: 12px;
            }
          }
        }
      }
    }
  }
}