.filter {
  position: relative;
  padding-top: 40px;
  z-index: 3;
  @media (max-width: 767px) {
    padding-top: 16px;
  }
  .filterList {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 40px;
  }

  .resetButton,
  .filterButton {
    position: relative;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    text-transform: lowercase;
    color: #424242;
    opacity: .6;
    overflow: hidden;
    &.open {
      opacity: 1;
    }
  }

  .resetButton {
    &.selected {
      opacity: 1;
    }
  }

  .filterButton {
    padding-left: 0;
    transition: all 0.25s;
    &:before {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #424242;
      position: absolute;
      left: -24px;
      top: 9px;
      transition: all 0.25s;
    }
    &.open {
      opacity: 1;
    }
    &.selected {
      opacity: 1;
      padding-left: 24px;
      &:before {
        left: 0;
      }
    }
  }

  .filterDropList {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 24px 0 8px;
    background: #ffffff;
    //display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px 24px;

    @media (max-width: 767px) {
      flex-direction: column;
      padding: 8px 0;
      gap: 0;
    }

    .filterItem {
      position: relative;
      display: block;

      input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        pointer-events: none;
      }

      div {
        position: relative;
        padding: 0 24px;
        overflow: hidden;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 600;
        text-transform: lowercase;
        color: #424242;
        transition: all 0.1s;

        @media (max-width: 767px) {
          padding: 8px 24px;
        }

        &:before {
          content: '';
          display: block;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: #424242;
          position: absolute;
          left: -24px;
          top: 9px;
          transition: all 0.25s;
          @media (max-width: 767px) {
            top: 17px;
          }
        }

        @media (hover: hover) {
          &:hover {
            &:active {
              transform: scale(0.95);
            }
          }
        }
      }

      input:checked + div {
        &:before {
          left: 0;
        }
      }
    }
  }
}
