#services {
  padding: 40px 0;
  @media (max-width: 767px) {
    padding: 16px 0 40px;
  }
}

.two_columns_content__wrapper {
  padding: 40px 0;
}

.two_columns_content {

  & + & {
    margin-top: 20px;
  }

  @media (max-width: 767px) {
    .row {
      & > div:last-child {
        margin-top: 40px;

        .img {
          margin-top: -20px;
        }
      }
    }
  }

  .text {
    color: #424242;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-right: 135px;

    &.noPadding {
      padding-right: 0;
    }

    & + .text {
      margin-top: 80px;
      @media (max-width: 767px) {
        margin-top: 40px;
      }
    }

    @media (max-width: 767px) {
      gap: 20px;
      padding-right: 0;
    }

    p {
      margin: 0;
      opacity: 0.8;
    }

    .lightText {
      opacity: 0.5;
    }

    .linkList {
      display: flex;
      flex-wrap: wrap;
      gap: 24px 40px;
      @media (max-width: 767px) {
        gap: 8px 20px;
      }
    }
  }

  .noGapContent {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (max-width: 767px) {
      gap: 16px;
    }
  }

  .img {
    position: relative;
    img {
      display: block;
      width: 100%;
      @media (max-width: 767px) {
        aspect-ratio: 1 / 1;
        object-fit: cover;
      }
    }
  }
}

.narrowText {
  text-align: justify;
  .text {
    width: 100%;
    max-width: 670px;
    margin: 0 auto;
    opacity: 0.8;
    & > * {
      & + * {
        margin-top: 16px;
      }
    }
  }
}

.wideText {
  text-align: justify;
  .text {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    opacity: 0.8;
    & > * {
      & + * {
        margin-top: 16px;
      }
    }
  }
}

.twoColsText {
  text-align: justify;
  .text {
    width: 100%;
    max-width: 1245px;
    margin: 0 auto;
    opacity: 0.8;
    @media (min-width: 768px) {
      columns: 2;
      column-gap: 135px;
    }
    & > * {
      & + * {
        margin-top: 16px;
      }
    }
  }
}

.fullScreenImage {
  img {
    display: block;
    width: 100%;
  }
}

.halfScreenImage {
  img {
    display: block;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
  }
}

.imagesGreed {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 20px;

  @media (max-width: 767px) {
    img {
      display: none;
      &:first-child {
        display: block;
        width: 100%;
        aspect-ratio: 440 / 660;
        object-fit: cover;
      }
    }
  }

  @media (min-width: 768px) {
    img {
      display: block;
      width: calc( (100% - 40px ) / 3);
      aspect-ratio: 440 / 660;
      object-fit: cover;
      &.wide {
        width: calc( ((100% - 40px ) / 3) * 2 + 20px);
        aspect-ratio: 1360 / 660;
      }
    }
  }
}