// пример переменных
$main_font: 'Inter', serif;

$animation_speed: 0.25s;

* {
  outline: none;
  box-sizing: border-box;
}


html {
  height: 100%;
}

p {
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background: none;
  padding: 0;
  height: auto;
  cursor: pointer;
}

img {
  margin: 0;
  padding: 0;
}
/* Убираем копирайт и кнопки */
.ymaps-2-1-79-copyrights-pane,
.ymaps-2-1-79-controls__bottom {
  display: none !important;
}

.swiper-pagination-bullet{
  display: block !important;
  box-sizing: border-box;
  width: 8px !important;
  height: 8px !important;
  border: 1px solid rgba(66, 66, 66, 1);
  background: white !important;
  opacity: 1 !important;
  margin: 0 !important;

  &.swiper-pagination-bullet-active {
    background: rgba(66, 66, 66, 1) !important;
  }
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding-left: 40px;
  padding-right: 40px;
  max-width: 100% !important;
  @media (max-width: 767px) {
    padding-left: 12px;
    padding-right: 12px;
  }
  @media (min-width: 1400px) {
    max-width: 1920px !important;
  }
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 360px;
  overflow-x: hidden;
  font-family: $main_font;
  color: #424242;
  padding-top: 72px;
  font-size: 16px;
  line-height: 24px;

  @media (max-width: 767px) {
    padding-top: 80px;
  }
  main {
    flex: 1 0 auto;
    section {
      padding: 40px 0;
    }

    ul, ol {
      padding-left: 24px;
      opacity: 0.8;
      margin: 0;
      li {
        & > * {
          opacity: 1!important;
        }

        & + li {
          margin-top: 16px;
        }
      }
    }

    p > ul,
    p > ol {
      opacity: 1;
    }
  }

  a {
    text-decoration: none;
    color: #424242;
  }

  .fullscreen_bg {
    position: relative;
    img.bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  h1 {
    font-size: 60px;
    line-height: 1.2;
    text-transform: lowercase;
    margin: 0;
    @media (max-width: 767px) {
      font-size: 32px;
    }
  }

  h2 {
    font-size: 40px;
    line-height: 48px;
    text-transform: lowercase;
    margin: 0;
    @media (max-width: 767px) {
      font-size: 28px;
      line-height: 40px;
    }
  }

  h3 {
    font-size: 24px;
    line-height: 36px;
    margin: 0;
    @media (max-width: 767px) {
      font-size: 20px;
      line-height: 28px;
    }
  }

  h4 {
    font-size: 20px;
    line-height: 28px;
    margin: 0;
    @media (max-width: 767px) {
      font-size: 18px;
      line-height: 28px;
    }
  }

  h5 {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  h6 {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    @media (max-width: 767px) {
      font-size: 16px;
      line-height: 24px;
    }
  }
}

.sr-only{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

.defaultPosition {
  @media (hover: hover) {
    transform: translateY(50px);
    opacity: 0;
  }
}