
.linkWrapper {
  margin-top: 40px !important;
  @media (max-width: 767px) {
    margin-top: 20px !important;
  }
}

.pc {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.projectsList {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;

  @media (min-width: 768px) {
    margin-bottom: 0;
    flex-direction: row;
    align-items: flex-start;
  }
}






