.projectsList {
  width: 100%;
  overflow: hidden;

  @media (min-width: 768px) {
    columns: 2;
    column-gap: 24px;
    margin-bottom: -24px;
  }
}

.linkWrapper {
  margin-top: 40px;
  @media (max-width: 767px) {
    margin-top: 20px;
  }
}

