
.linkWrapper {
  margin-top: 40px !important;
  @media (max-width: 767px) {
    margin-top: 20px !important;
  }
}

.pc {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.projectsList {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;

  @media (min-width: 768px) {
    margin-bottom: 0;
    flex-direction: row;
    align-items: flex-start;
  }
}

.nextProjects {
  align-items: initial;
  & > div {
    aspect-ratio: 670 / 420!important;
    @media (max-width: 767px) {
      aspect-ratio: 328 / 420!important;
      &:last-child {
        display: none;
      }
    }
  }
}

.emptyMessage {
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  font-size: 16px;
  font-weight: 400;
  img {

  }
  span {
    opacity: 0.8;
    color: #424242;
  }
}






