#hello {
  position: relative;
  height: calc(100svh - 72px);
  width: calc(100% - 80px);
  max-width: calc(1920px - 80px);
  margin: 0 auto;
  padding: 0;
  overflow: hidden;

  @media (max-width: 767px) {
    height: calc(100svh - 80px);
    width: calc(100% - 24px);
  }

  .helloImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;

    @media (hover: hover) and (pointer: fine) {
      transform: scale(1.2);
    }
  }

  .mask {
    position: absolute;
    width: 100%;
    bottom: 145px;
    background-image: url('/img/klen.svg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-color: initial;
    aspect-ratio: 1360 / 463;
    pointer-events: none;
    &:before {
      content: '';
      position: absolute;
      display: block;
      left: 0;
      bottom: 100%;
      width: 100%;
      height: 100svh;
      background: #ffffff;
    }
    @media (max-width: 767px) {
      bottom: 0;
      aspect-ratio: 118 / 40;
      background-image: url('/img/Hero_Mobile.svg');
      &:before {
        display: none;
      }
    }
  }

  .container {
    position: relative;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    @media (max-width: 767px) {
      justify-content: flex-start;
      align-items: flex-start;
    }
  }

  h1 {
    color: #fff;
    font-size: 60px;
    line-height: 72px;
    text-transform: uppercase;
    margin: 0 0 40px;
    @media (max-width: 991px) {
      font-size: 50px;
    }
    @media (max-width: 767px) {
      font-size: 28px;
      line-height: 40px;
      margin: 24px 24px 0 24px;
    }
  }
}
