#buro {
  position: relative;
  // height: 100svh;
  width: calc(100% - 80px);
  max-width: calc(1920px - 80px);
  margin: 0 auto;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;

  @media (max-width: 767px) {
    height: 100svh;
    width: calc(100% - 24px);
  }

  //@media(hover:hover){
  //  &:hover{
  //    .bg{
  //      transform: scale(1.1) !important;
  //    }
  //  }
  //}

  a {
    display: block;
    font-size: 0;

    &::before {
      content: '';
      position: absolute;
      top: 40px;
      left: 0;
      width: 100%;
      height: calc(100% - 80px);
    }
  }

  .bg {
    position: relative;
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 2s;
  }

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 0;
    pointer-events: none;
  }

  h2 {
    position: relative;
    color: #fff;
    text-transform: lowercase;
    padding-left: 0;
    overflow: hidden;
    transition: all 0.25s;
    margin: 0;
    font-size: 40px;
    line-height: 48px;
    &:before {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #fff;
      position: absolute;
      left: -24px;
      top: 21px;
      transition: all 0.25s;
    }
  }

  @media (hover: hover) {
    & > a:hover {
      & + .title h2 {
        padding-left: 24px;
        &:before {
          left: 0;
        }
      }
    }
  }
}
