#services {
  padding: 40px 0;
  @media (max-width: 767px) {
    padding: 16px 0 40px;
  }
}

.two_columns_content__wrapper {
  padding: 40px 0;
}

.two_columns_content {

  & + & {
    margin-top: 20px;
  }

  @media (max-width: 767px) {
    .row {
      & > div:last-child {
        margin-top: 40px;

        .img {
          margin-top: -20px;
        }
      }
    }
  }

  .text {
    color: #424242;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-right: 135px;

    &.noPadding {
      padding-right: 0;
    }

    & + .text {
      margin-top: 80px;
      @media (max-width: 767px) {
        margin-top: 40px;
      }
    }

    @media (max-width: 767px) {
      gap: 20px;
      padding-right: 0;
    }

    p {
      margin: 0;
      opacity: 0.8;
    }

    .linkList {
      display: flex;
      flex-wrap: wrap;
      gap: 24px 40px;
      @media (max-width: 767px) {
        gap: 8px 20px;
      }
    }
  }

  .noGapContent {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (max-width: 767px) {
      gap: 16px;
    }
  }

  .img {
    position: relative;
    img {
      display: block;
      width: 100%;
      @media (max-width: 767px) {
        aspect-ratio: 1 / 1;
        object-fit: cover;
      }
    }
  }
}

.narrowText {
  .text {
    width: 100%;
    max-width: 670px;
    margin: 0 auto;
    opacity: 0.8;
    & > * {
      & + * {
        margin-top: 16px;
      }
    }
  }
}

.wideText {
  .text {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    opacity: 0.8;
    & > * {
      & + * {
        margin-top: 16px;
      }
    }
  }
}

.twoColsText {
  .text {
    width: 100%;
    max-width: 1245px;
    margin: 0 auto;
    opacity: 0.8;
    columns: 2;
    column-gap: 135px;
    & > * {
      & + * {
        margin-top: 16px;
      }
    }
  }
}