#services {
  .title {
    @media screen and (max-width: 991px) {
      margin-bottom: -88px;
    }
  }

  @media screen and (max-width: 992px) {
    display: none;
  }

  .row {
    @media screen and (max-width: 992px) {
      flex-direction: column-reverse;
      max-width: 500px;
    }
  }

  .wrapper {
    @media screen and (max-width: 992px) {
      width: 100%;
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: space-between;
      margin-top: 20px;
    }
  }

  .servicesList {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;

    @media screen and (max-width: 991px) {
      width: 100%;
      justify-content: space-between;
      flex-direction: column;
      margin-top: 88px;
    }

    .item {
      width: fit-content;
      position: relative;
      cursor: pointer;

      @media screen and (max-width: 992px) {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border: 1px solid rgba(66, 66, 66, 1);
      }

      .name {
        width: fit-content;
        margin: 0;
        pointer-events: none;
        color: #424242;
        font-size: 24px;
        line-height: 36px;
        font-weight: 400;
        transition: all 0.25s;
        text-transform: lowercase;

        @media screen and (max-width: 992px) {
          display: none;
        }
      }

      &.active {
        .name {
          opacity: 1;
        }
      }

      @media screen and (max-width: 992px) {
        &.active {
          background: rgba(66, 66, 66, 1);
        }
      }

      @media (hover: hover) {
        transition: all 0.08s ease-in-out;
        &:active {
          transform: scale(0.98);
        }

        .name {
          opacity: 0.8;
        }
        &:hover {
          .name {
            opacity: 1;
          }
        }
      }
    }

    & + .linkWrapper {
      margin-top: 0;
      @media (max-width: 991px) {
        margin-top: 40px;
      }

      @media screen and (max-width: 992px) {
        display: flex;
        align-items: center;
      }
    }
  }

  .imageContainer {
    position: relative;
    width: 100%;
    overflow: hidden;

    @media screen and (max-width: 991px) {
      aspect-ratio: 670 / 620;
    }
  }

  .animatedImage {
    position: absolute;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 670 / 620;
    z-index: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;

    @media screen and (max-width: 992px) {
      aspect-ratio: 328 / 420;
    }
  }

  .activeImage {
    opacity: 1;
    transform: scale(1);
  }
}
